@import '@/assets/scss/abstracts/variables.scss';

.article {
    .article-title {
        font-size: $font-size-l;
        font-weight: bold;
        word-break: break-all;
    }

    .article-date {
        color: $color-gray;
        font-size: $font-size-s;
        text-align: right;
        margin-top: $gap;
    }

    .article-body {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
        margin-top: $gap;
        font-size: $font-size-m;
    }
}
