@import '@/assets/scss/abstracts/variables.scss';

.search-form {
    margin-top: $header-height-mb + $gap;

    > li:not(:first-child) {
        margin-top: $gap;
    }

    li:first-child {
        display: grid;
        grid-template-columns: auto 56px;

        input[type="search"] {
            border-radius: 4px 0 0 4px;
        }

        #submit-search {
            border-radius: 0 4px 4px 0;
        }
    }

    li ul {
        display: grid;
        grid-template-columns: auto 56px;
        grid-gap: $gap;

        li:first-child {
            display: grid;
            grid-template-columns: 1fr $gap 1fr;
            grid-gap: $gap;
        }
    }

    input[type="date"] {
        width: 100%;
        cursor: pointer;  
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        transition: all $transition-sec;

        &:hover {
            box-shadow: $box-shadow;
            transition: all $transition-sec;
        }

        &.reset {
            background-color: $color-gray;
        }
    }
}

/* ----- RESPONSIVE ----- */
@media all and (max-width: $mobile-width) {
    .search-form {
        li ul {
            grid-template-columns: 1fr;

            li:first-child span {
                display: block !important;
            }
        }

        input[type="date"] {
            max-width: initial;
        }
    }
}