$font-noto: "Noto Sans KR", sans-serif;

$base-color: #3e3c3c;
$highlight-color: #bde991;
$background-color: #fafafa;
$input-color: #ededed;
$color-white: #fafafa;
$color-gray: #aeacac;

$font-size-l: 1.6rem;
$font-size-m: 1rem;
$font-size-s: 0.8rem;

$input-padding: 8px 12px;
$input-height: 40px;

$box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);

$gap: 8px;
$border-radius: 4px;
$m-page: 8vh;