.btn {
    &-create {
        position: fixed;
        bottom: 5vw;
        right: calc(50vw - 415px / 2);
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3e3c3c;
        color: $color-white;
        font-size: $font-size-m;
        padding: 1rem;
        box-shadow: $box-shadow;
    }

    &-back {
        text-indent: -9999px;
        width: 24px;
        height: 24px;
        display: block;
        position: fixed;
        top: 12px;
        left: calc(50vw - 415px / 2);
        z-index: 1;
        background: url('@/static/img/btn-back.png') no-repeat 50% 50%;
        background-size: cover;
        border: none;
        outline: none;
    }
}

/* ----- RESPONSIVE ----- */
@media all and (max-width: 425px) {
    .btn {
        &-create {
            right: 5vw;
        }

        &-back {
            left: 5vw;
        }
    }
}