.pager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin-top: 8vh;

    li:last-child {
        text-align: right;
    }
    li a:hover {
        font-weight: bold;
    }
}