.pager {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gap*2;
    margin-top: $m-page/2;

    li:last-child {
        text-align: right;
    }
    li a:hover {
        font-weight: bold;
    }
}