@import '@/assets/scss/abstracts/variables.scss';

#header {
    position: fixed;
    top: 0 ;
    width: 100%;

    ::v-deep .logo {
        margin: $gap 0 !important;
        height: $logo-height-mb !important;
    }
}
