#create {
    #header {
        position: fixed;
        top: 0;
        width: 100%;

        .logo {
            padding: $gap 0;

            & img {
                height: $logo-height-mb;
            }
        }
    }
}

#create-article {
    padding-top: $logo-height-mb + $gap*3;

    .inner {
        padding: $gap 0;
    }

    ul li:not(:first-child) {
        margin-top: $gap;
    }

    input {
        width: 100%;
    }

    textarea {
        height: calc(100vh - 214px);
    }
}