#article_page {
    #header {
        position: fixed;
        top: 0;
        width: 100%;

        .logo {
            margin: $gap 0;
            height: $logo-height-mb;
        }
    }

    .article_wrap {
        margin-top: 46px;
        padding: $gap 0 $m-page;
    }

    .title_wrap {
        border-bottom: 1px solid $base-color;
        padding-bottom: $gap;
        cursor: text;
    }

    .article_title {
        pointer-events: none;
    }

    .article_error {
        text-align: center;
        margin-top: 46px;
        display: flex;
        height: calc(100vh - 48px);
        align-items: center;
        justify-content: center;
    }
}